@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Olá, Mundo! A hora atual no servidor é @DateTime.Now.ToString("HH:mm")</p>
</div>
